.purpleButton {
    border-color: lemonchiffon; 
    color: lemonchiffon;
    background-color: darkslateblue; 
    border-style: dotted;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 8px;
} 

.col-3 {
    text-align: center;
}

.overdue {
 color: red;
}